.about_container {
    width: 90%;
    margin: 10rem auto;
    
    padding: 1rem;
}

#parent_div {
    display: flex;
    justify-content: space-between;

    gap: 60px;
}
.image_div {
    width: 40%;


}
.image_div img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: transform 0.5s ease-in-out;
}
.image_div img:hover {
    transform: scale(1.1);
    cursor: pointer;
}
.about_details_div {
    width: 50%;
cursor: pointer;
    text-align: justify;
}
.about_details_div:hover{
    color:white;
    cursor: pointer;
}
/* ------------Media Query----------- */
/* ------------For Mobile Screen--------- */
@media screen and (min-width: 280px) and (max-width: 420px) {
    #parent_div {
        display: flex;
        flex-direction: column;
    }
    .image_div {
        width: 100%;
    }
    .image_div img {
        width: 100%;
        border-radius: 10px;
    }
    .about_details_div {
        width: 100%;
        font-family: "Roboto", sans-serif;
        text-align: justify;
        margin-top: 2rem;
    }
}

/* ------------For Tablet Screen--------- */
@media screen and (min-width: 421px) and (max-width: 1024px) {
    #parent_div {
        display: flex;
        flex-direction: column;
    }
    .image_div {
        width: 100%;
    }
    .image_div img {
        width: 100%;
        border-radius: 10px;
    }
    .about_details_div {
        width: 100%;
        font-family: "Roboto", sans-serif;
        text-align: justify;
        margin-top: 2rem;
    }
}
