.footer_div {
  border: 5px solid green;
  width: 100%;
  text-align: center;

}

.card_div {
  border: 2px solid red;
  display: grid;
  width: 95%;
  margin: auto;
  grid-template-columns: repeat(4, 1fr);
}

@media (min-width: 200px) and (max-width: 420px) {
.card_div {
  border: 2px solid rgb(0, 195, 255);
  display: block;
  /* grid-template-columns: repeat(1,1fr); */

}
.first_card{
    border: 2px solid yellow;
    width: 100%;
    margin: 10px auto;
}
.last_card{
    border: 1px dotted rgb(207, 207, 204);
    width: 100%;
    margin: 10px auto;

}
.last_card div{
    display: flex;
    justify-content: space-around;
    /* flex-direction: column; */
}
}
